body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.r-navbar {
  padding: 20px 0px;
}
.logo-wrapper {
  display: inline-block;
  height: 100%;
}
.logo-wrapper>img {
  vertical-align: middle;
}
.flex-container {
  display: flex;
  padding: 10px;
}
.flex-item {
  flex-flow: row wrap;
  margin: 0px 50px 0px 0px;
}
#search {
  flex-grow: 3;
}

.book-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.book-author {
  text-align: center;
  font-weight: italic;
  font-size: 16px;
}

.book-price {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background-color: #FFA500;
}
