* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: solid .5px black;*/
}

.item {
  max-height: 350px;
}

.isinya {
  margin-top: 60px;
  margin-bottom: 60px;
}

.sidebar {
  border: solid 1px grey;
  border-radius: 10px;
}

.image-buku {
  height: 240px;
}

.image-buku > img {
  margin: auto;
  height: 100%;
}
