body {
  margin: 0;
}

a img {
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

/*.renaissains-header {
  z-index: 50;
  margin: 0 !important;
}
*/
.r-header {
  overflow: visible;
  background-color: white;
}
/*
.renaissains-header {
  color: #767777
}*/


